@import url('https://fonts.googleapis.com/css2?family=Arima&family=Titan+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;

}
html{
    scroll-behavior: smooth;
}
.main-header{
    height: 100px;
    background-color: #000000cc;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    position: sticky;
    top: 0;
    
}
.main-header img{
    width: 200px;
    height: 40px;
    margin-left: 20px;
}
.main-header .main-header-nav{
  margin-right: 20px;
}
.main-header .main-header-nav ul{
    display: flex;
    /* gap: 50px; */
    
    
}
.main-header-nav li{
    background-color: #f51a1a;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    
}
.main-header-nav ul a{
    text-decoration: none;
}
.main-header-nav ul a li{
    color: #14101094;
    font-family: 'Titan One', cursive;
    font-size:12px;
   
}
.blood-icon{
    display: flex;
    align-items: center;
}
.blood-icon img{
    width: 40px;
    height: 40px;
}
.first-section{
    height: 100vh;
    background-image: url(./images/tumblr_n9oq7bWttv1r415sxo1_500.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    

    
}
.first-section article{

    width: 700px;
    
}
.first-section article h2 {
    color: aliceblue;
    padding: 20px;
    font-size: 50px;
}
.first-section article h2 p{
    color: #f51a1a;
    text-align: justify;
    font-size: 20px;
    
}
.button-banner{
    width: 320px;
    height: 70px;
    background-color: #f51a1aa8;
    border: none;
    border-radius: 15px;
    font-family: 'Arima', cursive;
    font-size: 20px;
    font-weight: 700;
    transition: 0.4s;
}
.button-banner:hover{
    transform: scale(1.05);
    background-color: aliceblue;
    cursor: pointer;
}
.button-banner-flex{
    width: 700px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

body {

    background-color: #202020;
}

.itens h1{
    color: #e41414;
    opacity: 60%;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.itens .viloes {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 30px;
    text-align: justify;

}

.itens .viloes section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 30px;
    text-align: justify;

}

.vilao {
    background-color: #202020;
    color: #d9d7d7;
    width: 400px;
    border-radius: 12px;
    margin-top: 200px;
    overflow: hidden;
    position: relative;
    }
    
    .vilao .foto {
        width: 100%;
        border-radius: 12px;
        height: 250px;
    
    }

    .vilao h1 {
        color: #e41414;
        font-size: 40px;

    }

    .vilao p {
        color: #d9d7d7;
    }

    .vilao button {
        width: 200px;
        height: 50px;
        background-color: #e41414;
        color: #d9d7d7;
        border: none;
        font-family: inherit;
        font-weight: bold;
        cursor: pointer;
    }

    .vilao button a{
        text-decoration: none;
        color: #d9d7d7;
    }