@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;

}

body {

    background-color: #202020;}

.descricao {
    text-align: center;}

.descricao h1{
    color: #e41414;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.descricao img{
    width: 30%;
    border: thin solid;
    padding: 5px;
}

.descricao p{
    color: aliceblue;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 300px;
    padding-right: 300px;
    opacity: 60%;
}

.descricao h2{
    color: #e41414;
    padding-bottom: 50px;
}

.descricao iframe{
    margin-bottom: 80px;
}
.main-footer-pages{
    height: 250px;
    background-color: #221616;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.main-footer-pages h3{
    font-family: inherit;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
.main-footer-pages .footer-text{
    font-family: inherit;
    font-size: 15px;
    color: #df8080;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.main-footer-pages .footer-images-pages{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

